/* element style */
body, html {
    height: 100%; /* guarantee full screen */
    margin: 0;
}

a { text-decoration: none; }
button:focus { outline: 0; }
input:focus { outline: 0; }
textarea { resize: none; }
textarea:focus { outline: 0; }

/* font */
@font-face {
    font-family: "Inconsolata";
    src: url('/css/fonts/Inconsolata/Inconsolata-Bold.ttf');
}

@font-face {
    font-family: "Lato";
    src: url('/css/fonts/Lato/Lato-Black.ttf');
}

/* class style */
/* clear float */
.clearfix:before,
.clearfix:after {
    content: "";
    display:table;
}

.clearfix:after {
    clear:both;
}

.clearfix {
    *zoom:1;
}

/* prevent margin overlap */
.margin_overlap {
    display: table-cell;
}

/* special button */
.floatBtn {
    display: none;
    position: fixed;
    right: 1%;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s all ease-in-out;
}
.floatBtn:hover {
    box-shadow: 0 0 5px rgb(3, 14, 37);
}

/* base button */
.baseBtn{
    font-size: 15px;
    background: #4b84b9e6;
    color: #fff;
    padding: 0.2em 1.2em;
    border: 0;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}
.baseBtn:hover {
    background: #0a143c;
  color: #c7c7c7;
}

/* select css */
.select-chooseNow {
    padding-left: 8px;
}

.select-chooseArea {
    position: absolute;
    margin-top: -39px;
    z-index: 10;
    box-shadow: 0 0 13px #a4a6d4;
    cursor: pointer;
}

.select-choose {
    width: 100%;
    line-height: 40px;
    font-size: 17px;
    background: #fff;
    border: 0;
    cursor: pointer;
}

.select-choose:focus {
    background: #d6d5d5;
    outline: 0;
}

