body {
    background: #f0f0f0;
}

/* header information */

#login, #signup {
    background: #ffffff;
    border-radius: 5px;
    padding: 30px 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
}

#login_header, #signup_header {
    margin: 0 10px 20px 10px;
    text-align: center;
    font-weight: 200;
    font-size: 26px;
    color: #8686e8;
    letter-spacing: 11px;
}

/* user information */

.user-info {
    width: 355px;
    line-height: 40px;
    font-size: 17px;
    border: 1px solid #292929;
    border-radius: 5px;
    padding: 0 0.5em 0 48px;
    margin-bottom: 1em;
    transition: .2s all ease-in-out;
}
.user-info:focus {
    outline: 0;
    box-shadow: 0 0 8px #8c8c8c;
}

#login .user-info { width: auto; }

#login_password, #signup_passwordAgain {
    margin-bottom: 1.3em;
}

.username-img, .department-img, .password-img {
    position: absolute;
    width: 26px;
    background: #9ea6ef;
    opacity: 0.8;
    border: 1px solid #292929;
    border-radius: 5px 0 0 5px;
    padding: 7px;
}

/* select */

#signup_department {
    width: 370px;
    padding: 0 0 0 41px;
    margin: 0;
}

.signup-department-chooseNow {
    padding-left: 8px;
}

.signup-department-chooseArea {
    position: absolute;
    width: 370px;
    margin-top: -39px;
    z-index: 10;
    box-shadow: 0 0 13px #a4a6d4;
    cursor: pointer;
}

.signup-department-choose {
    width: 100%;
    line-height: 40px;
    font-size: 17px;
    background: #fff;
    border: 0;
    cursor: pointer;
}

.signup-department-choose:focus {
    background: #d6d5d5;
    outline: 0;
}

/* button */

#login_button, #signup_button {
    display: flex;
    display: -webkit-flex;
}

#login_button p, #signup_button p {
    flex-grow: 1;
}

.user-button {
    flex-grow: 4;
    font-size: 18px;
    background: #8686e8;
    color: #ffffff;
    opacity: 0.8;
    border: 1px solid #8686e8;
    border-radius: 5px;
    padding: 0.1em 0;
    cursor: pointer;
}
.user-button:focus {
    outline: 0;
}