/* container */
article {
    height: 100%;
    margin: 0 auto;
    padding: 20px 8%;
}

/* sidebar */
#manager_sidebar {
    position: fixed;
    height: 100%;
    width: 280px;
    left: -100%;
    top: 0;
    margin: 0;
    padding: 0px 20px;
    background: #fff;
    box-shadow: 0 0 25px #2568b4;
    z-index: 10;
    transition: .3s all ease-in-out;
}

#manager_projectView, #manager_managerList {
    display: inline-block;
    vertical-align: bottom;
    background: 0;
    border: 0;
    border-bottom: 2px solid #7f97ce82;
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
    font-size: 24px;
    color: #156ca9;
    transition: .2s all linear;
}
#manager_managerList { font-size: 14px; }

#manager_sidebar_content ul {
    list-style: none;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
#manager_sidebar_content ul li button {
    width: 100%;
    height: 2em;
    background: transparent;
    border: 0;
    margin: 3px 0;
    padding: 0;
    font-size: 17px;
    color: #207deac7;
    cursor: pointer;
    white-space: nowrap;
    overflow-x: hidden;
}
#manager_sidebar_content ul li button:hover {
    color: #207dea;
}

#manager_sidebar_shrink_mask {
    position: fixed;
    width: 22px;
    height: 80px;
    left: 0;
    top: 7%;
    border: 0;
    background: #fff;
    z-index: 10;
    transform: translateX(-22px);
    transition: .3s all ease-in-out;
}
#manager_sidebar_shrink {
    position: fixed;
    width: 21px;
    height: 45px;
    left: 0;
    top: 8%;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: url(/assets/shrink.svg) no-repeat #fff;
    background-position: -2px 11px;
    background-size: 22px;
    box-shadow: 0 0 25px #2568b4;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

/* manager information */
#manager_header {
    position: fixed;
    width: 100%;
    left: 0;
    margin-top: -21px;
    background: #ffffff;
    z-index: 10;
}

#manager_header h1 {
    margin: 0 8%;
    padding: 1em 1em;
    color: rgba(10,21,90,1);
    background-color: #d5dde6;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 0 0 5px 5px;
}


/* mission table */
#manager_mission {
    width: 100%;
    margin-top: 83px;
    margin-bottom: 1em;
    border-collapse:collapse;
    opacity: 0.8;
}

#manager_mission tr th {
    padding: 9px 10px 10px;
    font-size: 14px;
    color: rgba(10,21,90,1);
    line-height: 17px;
    background-color: #d5dde6;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 3px 3px 0 0;
}

#manager_mission tr td {
    padding: 9px 10px;
    font-size: 14px;
    color: rgba(10,21,90,1);
    line-height: 17px;
    background-color: #f6f8fa;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 3px 3px 0 0;
}

#manager_mission tr td textarea,
#manager_mission tr td input {
    width: 100%;
    border: 1px solid #2568b4c7;
    border-radius: 3px;
}
#manager_mission tr td textarea:focus {
    box-shadow: 0 0 5px #2568b4;
}
#manager_mission tr td input:focus {
    box-shadow: 0 0 5px #2568b4;
}

#manager_mission tr td p {
    margin: 0;
}
#manager_mission tr td:nth-child(2) textarea,
#manager_mission tr td:nth-child(3) textarea,
#manager_mission tr td:nth-child(4) textarea {
    display: none;
    width: 100%;
    resize: none;
}

#manager_mission tr td:nth-child(1) {
    width: 5%;
}
#manager_mission tr td:nth-child(2) {
    width: 10%;
}
#manager_mission tr td:nth-child(3) {
    width: 15%;
}
#manager_mission tr td:nth-child(4) {
    width: 5%;
}
#manager_mission tr td:nth-child(5) {
    font-family: "Inconsolata", monospace;
    text-align: center;
    width: 10%;
}
#manager_mission tr td:nth-child(6) {
    width: 25%;
}
#manager_mission tr td:nth-child(7) {
    width: 5%;
    text-align: center;
}
#manager_mission tr td:nth-child(8) {
    width: 5%;
    text-align: center;
}

/* progress paragraph */
#manager_mission tr td:nth-child(6) .project-watch-mode p {
    padding: 6px 0;
    border-bottom: 1px solid #6f6fe2e3;
}
#manager_mission tr td:nth-child(6) .project-watch-mode p:last-child {
    border: 0;
}

/* progress show and hide button */
.project-progressShow {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 7%;
    opacity: 0.3;
    border-radius: 5px;
    border: 1px solid;
    background: url("/assets/plus.svg") no-repeat;
    background-position: 2px 2px;
    background-size: 10px 10px;
    cursor: pointer;
}
.project-progressShow:hover {
    opacity: 0.8;
}

/* project priority */
.project-priority {
    margin: 0;
}

/* button to delete */
#delete_all, .delete-part {
    display: none;
}
.delete-part input {
    width: 14px;
    height: 14px;
    border: 1px solid #2568b4;
    margin: 0;
    background: #fff;
    cursor: pointer;
}
#delete_all button {
    width: 13px;
    height: 13px;
    outline: 1px solid #2568b4;
    border: 2px solid #fff;
    margin: 0;
    padding: 0;
    background: #fff;
    cursor: pointer;    
}
#delete_all p {
    margin: 0;
    display: inline;
}

/* watch and edit mode */
.project-edit-mode {
    display: none;
}

/* add area */
#manager_mission_edit {
    display: none;
}

#manager_mission_edit input {
    width: 100%;
    height: 17px; 
    padding: 0.2em 0;
    font-size: 14px;
    line-height: 14px;
    color: rgba(10,21,90,1);
    border: 1px solid rgba(27,31,35,0.25);
    border-radius: 3px;
    transition: .2s all ease-in-out;
}
#manager_mission_edit input:focus {
    outline: 0;
    box-shadow: 0 0 5px rgb(27,31,35);
}
#manager_mission_edit input {
    font-family: "Inconsolata", monospace;
}

#manager_mission_edit select {
    font-size: 14px;
    line-height: 14px;
    padding: 0.2em 0;
    background: #fff;
    border: 1px solid rgba(27,31,35,0.25);
    border-radius: 3px;
}
#manager_mission_edit select:focus {
    outline: 0;
    box-shadow: 0 0 5px rgb(27,31,35);
}

/* progress area button */
.progress-add {
    width: 16px;
    height: 16px;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid;
    background: url("/assets/plus.svg") no-repeat;
    background-position: 2px 2px;
    background-size: 10px 10px;
    cursor: pointer;
}

.progress-delete {
    width: 16px;
    height: 16px;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid;
    background: url("/assets/minus.svg") no-repeat;
    background-position: 2px 2px;
    background-size: 10px 10px;
    cursor: pointer;
}

/* button style */
#manager_confirm {
    display: none;
    top: 48%;
    background: url("/assets/confirm.svg") no-repeat #d5dde6;
    background-size: 28px;
    background-position: 10px;
}

#manager_add {
    top: 58%;
    background: url("/assets/plus.svg") no-repeat #d5dde6;
    background-size: 28px;
    background-position: 10px;
}

#manager_edit {
    top: 68%;
    background: url("/assets/edit.svg") no-repeat #d5dde6;
    background-size: 28px;
    background-position: 10px;
}

#manager_delete {
    top: 78%;
    background: url("/assets/delete.svg") no-repeat #d5dde6;
    background-size: 28px;
    background-position: 10px;
}

#manager_signout {
    top: 88%;
    background: url("/assets/sign-out.svg") no-repeat #d5dde6;
    background-size: 28px;
    background-position: 10px;
}

/* deadline alarm area */
#alarmShow_area {
    position: fixed;
    min-width: 300px;
    max-width: 400px;
    right: 6%;
    top: 6%;
    background: #fff;
    padding: 22px 40px 15px 40px;
    z-index: 12;
    box-shadow: 0 0 10px hsl(244, 62%, 80%);
    /* transform: .4s all ease-in-out; */
}

#alarmShow_area h2 {    
    font-size: 20px;
    color: #4178a3d1;
    margin: 0;
    text-align: center;
}

#alarmShow_area ul {
    list-style: none;
    padding: 0;
    min-height: 3em;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

#alarmShow_area ul li button {
    width: 100%;
    height: 2em;
    background: transparent;
    border: 0;
    margin: 3px 0;
    padding: 0;
    font-size: 17px;
    color: #ea7d20c7;
    cursor: pointer;
    white-space: nowrap;
    overflow-x: hidden;
}
#alarmShow_area ul li button:hover {
    color: #ea3c20c7;
}

#alarmShow_area ul li p {
    text-align: center;
    width: 100%;
    height: 2em;
    border: 0;
    margin: 3px 0;
    padding: 0;
    font-size: 17px;
    color: #ea7d20c7;
    cursor: pointer;
    white-space: nowrap;
}

#alarmShow_btn {
    position: fixed;
    width: 52px;
    height: 52px;
    left: 93%;
    top: 3%;
    border: 2px solid #4349c3c9;
    border-radius: 50%;
    background: url(/assets/info-sign.svg) no-repeat #f6fbffbf;
    background-position: 6px 6px;
    background-size: 33px;
    z-index: 11;
    opacity: 0.8;
    cursor: pointer;
}

#alarmShow_btn::after {
    content: attr(data-inform);
    position: absolute;
    width: 17px;
    height: 17px;
    margin-top: -26px;
    margin-left: 12px;
    border: 1px solid #f31313d4;
    border-radius: 50%;
    background: #f31313d4;
    font-size: 14px;
    color: #fff;
}

/* confirm dialog */
#confirm_alert {
    display: none;
    position: fixed;
    width: 300px;
    height: 120px;
    background: #fff;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    border: 10px solid rgba(27,31,35,0.25);
    border-radius: 5px;
    z-index: 30;
}

#confirm_alert p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #2e4e9aab;
}

#confirm_ok {
    position: relative;
    left: 67px;
}
#confirm_cancel {
    position: relative;
    left: 100px;
}

#mask_layer {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #030507;
    opacity: 0.5;
    z-index: 20;
}
